
.trailhead-info-window-buttons{
    // display:none;
}
#embed-plan-modal{   
    display:none; 
    background:white;
    width:100%;
    height:400px;
    position:absolute;
    top:10px;
    left:10px;
    z-index: 1000;
    box-shadow: 0px 0px 10px 20px #444;
    .modal-content{        
        height:100%;
        iframe{
            width:100%;
            height:100%;
            border:none;
        }
    }

}
#find-map{
    min-height: inherit;
}
#park{
    padding-top:0px;
}
// Place all the styles related to the Parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
}

.jspVerticalBar *,
.jspHorizontalBar * {
    margin: 0;
    padding: 0;
}

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    background: #eeeeee;
    position: relative;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
}

.jspDrag {
    background: #cccccc;
    position: relative;
    top: 0;
    width: 8px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    order-radius: 4px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled {
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow {
    height: 16px;
}

.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus {
    outline: none;
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}


#park #trail-list {
    position: relative;
    width: 377px;
    
    background: #fff;
    z-index: 100;
    border-right: 1px solid #b3b3b3;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.embed #park #trail-list ul {
    position: relative;
    overflow: auto;
    height:inherit;
    margin:0px;
}

#trail-list li {
    position: relative;
    padding: 14px 14px 14px 60px;
    border-bottom: 1px solid #e6e6e6;
    background-position: 18px center;
    background-repeat: no-repeat;
}

#trail-list li:nth-child(even) {
    background-color: #f8f8f8;
}

#trail-list li.trail-type-trip {
    background-image: url(/assets/legacy/icon1.png);
}

#trail-list li.trail-type-trailhead {
    background-image: url(/assets/legacy/icon2.png);
}

#trail-list li.trail-type-campground {
    background-image: url(/assets/legacy/icon3.png);
}

#trail-list h2 {
    color: #807970;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    line-height:20px;
    margin:0px;
}

#trail-list h2.details-link {
    cursor: pointer;
}

#trail-list h2.details-link:hover {
    text-decoration: underline;
}

#trail-list span {
    position: absolute;
    top: 0;
    right: 12px;
    height: 100%;
    color: #999;
    font-size: 15px;
    line-height: 50px;
}

#trail-list p {
    font-size: 12px;
    color: #b2b2b2;
}

#trail-list a {
    color: #b2b2b2;
}

  .trailhead-info-window{
    padding:8px;
    width: 300px;
  }

  .trailhead-info-window-title{
    padding: 4px 0px;
    font-size: 15px;
    text-transform:uppercase;
  }

  .trailhead-info-window-park{
    font-style:italic;
    color:#1b80ae;
    padding: 0px 0px 4px 0px;
    margin-bottom:4px;
  }

  .trailhead-info-window-closest-transit{
    font-weight:bold;
  }

  .trailhead-info-window b {
    font-weight:bolder;
  }

  .trailhead-info-window p {
    padding-bottom: 6px;
  }


  .trailhead-info-window td {
    padding-bottom: 8px;
  }

  .trailhead-info-window-buttons{
    padding:10px 0px;
    
  }

  .trailhead-info-window-features {
    display:none;
  }
  .trailhead-info-window-button {
    padding:6px 10px;
    margin-right:10px;
    background-color:#F3F3F3;
    font-size:16px;
    font-weight:bold;
    color:#1b80ae;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border:solid 1px #ccc;
  }

  .trip-info-window-start, .trip-info-window-end{
    display:none;
  }
