@media (max-width: 600px) {
  .embed #park{
    width:100%;
  }
  .embed #park #trail-list{
    width:100%;
  }
  .embed #find-map{
    display:none;
  }
}

@media (max-width: 290px) {
  .embed #park{
    width:100%;
  }
  .embed #park #trail-list{
    width:100%;
  }
  .embed #find-map{
    display:none;
  }
  .legacy #the-plan h3#name-title{
    max-width:200px;
  }
    
}

.legend{
  background-color:white;
  padding:10px 6px 10px 17px;
  border-bottom: solid 1px #ddd;
}
.full-description{
  display:none;
}

.read-more-less-link{
  text-transform:uppercase;
  font-weight:600;
}
body{
  background-color: white;
  background-image:none;
}


#plan-embed{
  width:100%;
  height:500px;
  border:none;
}

#organization-image{
  margin-right:20px;
}

.summary{

  .tour-time {
      position: relative;
      list-style: none;
      margin: 0px;
      border: 1px solid #ddd;
      background: #fff;

      overflow: hidden;
  }

  .tour-time li {
      float: left;
      width: 33%;
      font-size: 14px;
      padding: 6px 0;
      text-align: center;
      line-height: 1.4em;
      border-right: 1px solid #ddd;
  }

  .tour-time li:last-of-type {
      border: 0;
  }

  .tour-time strong {
      display: block;
      font-weight: bold;
  }

  .tour-time em {
      color: #677780;
  }

  .to-from{
      position: relative;
      padding: 8px 18px;
      background: #fff;
      border: 1px solid #ddd;
      border-top: 0;
  }

  .parks{
      position: relative;
      padding: 8px 18px;
      background: #fff;
      border: 1px solid #ddd;
      border-top: 0;
  }


  .to-from p {
      line-height: 1.3em;
      font-size: 14px;
      padding: 6px 0 6px 32px;
  }

  .to-from strong {
      display: block;
      font-weight: bold;
  }

  .to-from a {
      color: #1b80ae;
  }

  .from {
      background: url(/assets/legacy/start.jpg) left center no-repeat;
  }

  .to {
      background: url(/assets/legacy/end.jpg) left center no-repeat;
  }

}

.contributor{
  .content {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
  }
  img{
    height:32px;
    width:auto;
  }
}
.embed{
  border-bottom: none;
  float:left;
  font-size:0.9em;
  position:relative;
  width:100%;
  .actions{
    text-align:center;
    margin: 0px;
  }

  .content, #plan{
    margin-top:43px;
  }

  .carousel{
    margin-bottom:0px;
    width:100%;
    .carousel-inner{
      // height:400px;
      text-align:center;
      border: 1px solid #dddddd;
      // background-color:black;
      .item{
        vertical-align: middle;
        img{
          // max-height:400px;
          width:100%;
        }
      }
    }

    .carousel-control{
      &.right{
        top: 40px;
        right: 5%;
      }
      &.left{
        top: 40px;
        left:5%;
      }
    }
  }

  @media (max-width: 610px) {
    #park{
      width:100%;
    }
    #park #trail-list{
      width:100%;
    }
    #find-map{
      display:none;
    }

  }
  @media (max-width: 330px) {

    .header .trip-name{
      font-size:14px;
    }
    .embed-header .title {
      font-size:14px;
    }

    .embed-header .back {
      font-size:14px;
    }

    .embed-header .logo img{
      height:25px;
    }

    #plan {
      margin-top: 34px;
    }

    #trail-list li {
      padding: 8px 8px 8px 50px;
    }

    #trail-list p {
      margin: 0px;
    }

    #organization img{
      display:none;
    }

    #plan-embed{
      height:640px;
    }

    #plan-embed{
      #get-directions-button{
        width:100%;
        clear:both;
      }
    }

    &, #park{
      #trail-list{
        height:100%;  
      }
      .type-flag{
        display:none;
      }
      .header{
        padding: 10px 10px 10px 20px;
        height:inherit;
      }
    }
  }
}



.description-overlay {
  box-shadow: 0 0 90px 5px #000;
  display: none;
  border: solid 1px;
  z-index: 10002;
  background-color: #F6F7FC;
  line-height: 1.4em;
  font-size: 1em;
  padding: 30px;
  width: 400px;
  text-align: left;
}

.embed-header{
  background-color:#5B8BA6;
  border-bottom:solid 2px #87A9BC;
  padding:0px 10px;
  position:fixed;
  top:0px;
  right:0px;
  left:0px;  
  z-index:10000;  
}

.embed-header .title {
  text-transform:uppercase;
  font-size:18px;
  font-weight:600;
  color:white;
  text-shadow:0 -1px 1px #222;
  float:left;
  // float:left;
  padding:9px 12px;
}

.embed-header .back {
  // margin-left:20px;
  // margin-top:10px;
  // float:left;
  // text-transform: uppercase;
  // font-weight:600;
  // font-size:16px;
  // text-shadow: 0px 0px 1px black;
  a{
    color:white;
    &:link, &:hover, &:active, &:visited{
      color:white;
      text-decoration: none;
    }
    &:hover{

    }

  }
}
.embed-header .logo {
  text-align:right;
  font-size:12px;
  font-weight:bold;
  color:#B5C9D7;
  img{
    padding:5px;
  }
}

.embed-header .logo img {
  vertical-align:middle;
}

.type-flag {
  position: absolute;
  top: 0px;
  left: 20px;
}

.header{
  padding: 10px 14px 0 70px;
  height: 62px;
  background: #fff;
  border-bottom: 1px solid #dddddd;
  position: relative;
  clear: both;
  font-weight:600;
  .trip-name{
    font-size:1.3em;
    margin-bottom:6px;
    font-weight:500;
  }
}

.embed-section{
  padding:20px;
  border-bottom: 1px solid #dddddd;
  background-color:#F6F7FC;
}

.description{
  border-bottom: 1px solid #dddddd;
  p {
    font-size:1em;
    line-height:1.7em;
  }
}

#plan-map{
  min-height:300px;
  border: solid 1px #dddddd;
  background-color: white;
}

hr{
  margin-top:6px;
  margin-bottom:10px;
}

.map-downloads{
  ul{
    margin-left:30px;
  }
  li{
    font-size:0.9em;
  }
}

.embed{
  .non_profit_partner_label, .managed_by_label{
    color: #4C93B5;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
  }
  div.agency div.logo {
    display: inline-block;
    float: left;
    margin: 2px 10px;
    width: 30px;
  }
  #plan.trailhead div.agency div.logo img { margin: 0; }

  div.agency{
    margin-bottom:10px;
  }
  div.non-profit-partner div.logo {
    display: inline-block;
    float: left;
    margin: 2px 10px;
    width:0;
  }

}
.embed{
  #find-map{
    float:right;
  }

}

