body{
  background-color: white;
  background-image:none;
}

#organization-image{
  margin-right:20px;
}

.summary{

  .tour-time {
      position: relative;
      list-style: none;
      margin: 0px;
      border: 1px solid #ddd;
      background: #fff;

      overflow: hidden;
  }

  .tour-time li {
      float: left;
      width: 33%;
      font-size: 14px;
      padding: 6px 0;
      text-align: center;
      line-height: 1.4em;
      border-right: 1px solid #ddd;
  }

  .tour-time li:last-of-type {
      border: 0;
  }

  .tour-time strong {
      display: block;
      font-weight: bold;
  }

  .tour-time em {
      color: #677780;
  }

  .to-from{
      position: relative;
      padding: 8px 18px;
      background: #fff;
      border: 1px solid #ddd;
      border-top: 0;
  }

  .parks{
      position: relative;
      padding: 8px 18px;
      background: #fff;
      border: 1px solid #ddd;
      border-top: 0;
  }


  .to-from p {
      line-height: 1.3em;
      font-size: 14px;
      padding: 6px 0 6px 32px;
  }

  .to-from strong {
      display: block;
      font-weight: bold;
  }

  .to-from a {
      color: #1b80ae;
  }

  .from {
      background: url(/assets/legacy/start.jpg) left center no-repeat;
  }

  .to {
      background: url(/assets/legacy/end.jpg) left center no-repeat;
  }

}

.contributor{
  .content {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
  }
  img{
    height:32px;
    width:auto;
  }
}
.embed{
  border: 1px solid #dddddd;
  border-bottom: none;
  float:left;
  font-size:0.9em;
  position:relative;

  .actions{
    text-align:center;
    margin: 0px;
  }

  .carousel{
    margin-bottom:0px;
    width:100%;
    .carousel-inner{
      // height:400px;
      text-align:center;
      border: 1px solid #dddddd;
      // background-color:black;
      .item{
        vertical-align: middle;
        img{
          // max-height:400px;
          width:100%;
        }
      }
    }

    .carousel-control{
      &.right{
        top: 40px;
        right: 5%;
      }
      &.left{
        top: 40px;
        left:5%;
      }
    }
  }
}

.description-overlay {
  box-shadow: 0 0 90px 5px #000;
  display: none;
  border: solid 1px;
  z-index: 10002;
  background-color: #F6F7FC;
  line-height: 1.4em;
  font-size: 1em;
  padding: 30px;
  width: 400px;
  text-align: left;
}

.embed-header{
  background-color:#5B8BA6;
  border-bottom:solid 2px #87A9BC;
  padding:0px 10px;
}

.embed-header .title {
  text-transform:uppercase;
  font-size:18px;
  font-weight:600;
  color:white;
  text-shadow:0 -1px 1px #222;
  float:left;
  padding:9px 12px;
}

.embed-header .logo {
  float:right;
  font-size:12px;
  font-weight:bold;
  color:#B5C9D7;
  padding:4px;
}

.embed-header .logo img {
  vertical-align:middle;
}

.type-flag {
  position: absolute;
  top: 0px;
  left: 20px;
}

.header{
  padding: 10px 14px 0 70px;
  height: 62px;
  background: #fff;
  border-bottom: 1px solid #dddddd;
  position: relative;
  clear: both;
  font-weight:600;
  .trip-name{
    font-size:1.4em;
    margin-bottom:6px;
  }
}

.embed-section{
  padding:20px;
  border-bottom: 1px solid #dddddd;
  background-color:#F6F7FC;
}

.description{
  border-bottom: 1px solid #dddddd;
  p {
    font-size:1em;
    line-height:1.7em;
  }
}

#plan-map{
  min-height:300px;
  border: solid 1px #dddddd;
  background-color: white;
}

hr{
  margin-top:6px;
  margin-bottom:10px;
}

.map-downloads{
  ul{
    margin-left:30px;
  }
  li{
    font-size:0.9em;
  }
}

