- if object.maps.count > 0
  %div{:style => "clear:both"}
  #download-maps
    %ul
      - object.maps.each do |map|
        %li
          - if !map.map.url.nil?
            %a.get-map{:href => "#{map.map.url}", :target => "_blank"}
              Download Map
          - elsif map.url
            %a.get-map{:href => "#{map.url}", :target => "_blank"}
              Download Map
