%form#filters-form
  %p.filter-header
    Near
  %p
    %input.search-query#find-location{:placeholder => "San Francisco, CA", :type => "text", :name => 'near'}
    %button.btn.btn-success.btn.btn-round.pull-right{:type => "submit", :value => "Find"}
      Find
  %label.checkbox
    %input.filter-checkbox(type="checkbox" id="redo_search_in_map" value="true")
    Redo search in map

  %hr
  %p.filter-header
    Campground Name
  %p
    %input.search-query{:placeholder => "Type a campground name...", :type => "text", :name => 'name_query'}
    %button.btn.btn-success.btn.btn-round.pull-right{:type => "submit", :value => "Find"}
      Find
  %hr
  %p.filter-header
    Author
  %p
    - if user_signed_in?
      %label.checkbox
        %input.filter-checkbox(type="checkbox" name="my_campgrounds" value="true")
        My Campgrounds (#{current_user.username})
    %input.search-query{:placeholder => "Type a user name...", :type => "text", :name => 'user_query'}
    %button.btn.btn-success.btn-round.pull-right{:type => "submit", :value => "Find"}
      Find

  - Category.all.each do |category|
    - unless category.campground_features.empty?
      %hr
      %p.filter-header
        = category.name
      - category.campground_features.each do |feature|
        %label.checkbox
          %input.filter-checkbox(type="checkbox" name="feature_ids[]" value="#{feature.id}")
          = feature.name
