%form#filters-form
  %p.filter-header
    Near
  %p
    %input.search-query#find-location{:placeholder => "Starting Address", :type => "text", :name => 'near'}
    %button.btn.btn-success.btn.btn-round.pull-right{:type => "submit", :value => "Find"}
      Find
  %label.checkbox
    %input(type="checkbox" id="redo_search_in_map" value="true")
    Redo search in map
  - if user_signed_in?
    - only_mine = cookies[:only_mine] || false
    %label.checkbox
      - if only_mine
        %input.filter-checkbox(type="checkbox" name="only_mine" value="true" checked="true")  
      - else
        %input.filter-checkbox(type="checkbox" name="only_mine" value="true")          
      Only mine (#{current_user.username})
    - if can? :approve, Trip
      - unapproved = cookies[:unapproved] || false
      %label.checkbox
        - if unapproved
          %input.filter-checkbox(type="checkbox" name="unapproved" value="true" checked="true")
        - else
          %input.filter-checkbox(type="checkbox" name="unapproved" value="true")
        Unapproved

  %hr
  %p.filter-header
    Trailhead Name
  %p
    %input.search-query{:placeholder => "Type a trailhead name...", :type => "text", :name => 'name_query'}
    %button.btn.btn-success.btn.btn-round.pull-right{:type => "submit", :value => "Find"}
      Find
  %hr
  %p.filter-header
    Author
  %p
    %input.search-query{:placeholder => "Type a user name...", :type => "text", :name => 'user_query'}
    %button.btn.btn-success.btn-round.pull-right{:type => "submit", :value => "Find"}
      Find

  - Category.all.each do |category|
    - unless category.trailhead_features.empty?
      %hr
      %p.filter-header
        = category.name
      - category.trailhead_features.each do |feature|
        %label.checkbox
          %input.filter-checkbox(type="checkbox" name="feature_ids[]" value="#{feature.id}")
          = feature.name
