:javascript
  Find.mapMode = true;
#find-list-container.trailheads
  .list-header
    .list-header-icon
    %span.badge.badge-inverse
      = trailheads.count
    Trailheads found near San Francisco
  .list-filters
    - filter_names.each do |filter|
      %span.label.label-success
        = filter
  .list#find-list
    %ul.media-list
      - trailheads.each_with_index do |trailhead,index|
        = render :partial => 'trailheads_media_item', :locals => {:trailhead => trailhead}
        %hr
        :javascript
          Find.addTrailheadMarker(#{trailhead.as_json.except('description').to_json});
  / .pages
  /   = paginate trailheads, :params => {:controller => 'find', :action => 'trailheads_within_bounds'}