:javascript
  Find.mapMode = true;
#find-list-container.trailheads

  .list#find-list

    - unless filter_names.empty?
      %span.list-filters
        %b
          Filters :
        - filter_names.each do |filter|
          %span.label.label-success
            = filter
        - if filter_names.empty?
          %span.label.label-success
            None

    %ul.media-list
      - count = trailheads.count
      - trailheads.each_with_index do |trailhead,index|
        = render :partial => 'trailheads_media_item', :locals => {:trailhead => trailhead}
        %hr
        :javascript
          Find.addTrailheadMarker(#{trailhead.as_json.except('description').to_json});
