:javascript
  find_mode = 'CAMPGROUNDS';
- content_for :list_filters do
  .list-header
    .list-header-icon.campgrounds
    %span.badge.badge-inverse#campground-count
      0
    Campgrounds Found
  .filters
    = render :partial => "campground_filters"
