.container.campgrounds
  .row
    .span8
      .map
        #find_map
      #progress
        %h4
          Loading
        .progress.progress-striped.active
          .bar{:style => "width: 100%;"}
      #findlist
    .span4#mapfilters
      .mapfilters
        .message
          %a#scrolltop(href="#top")
            Filters
            %i.icon-circle-arrow-up.pull-right
        .list-header
          .list-header-icon
          %span.badge.badge-inverse#campground-count
            0
          Campgrounds Found
        .filters
          = render :partial => "campground_filters"
:javascript
  find_mode = 'CAMPGROUNDS';
