:javascript
  find_mode = 'TRAILHEADS';
- content_for :list_filters do
  .list-header
    .list-header-icon
    %span.badge.badge-inverse#trailhead-count
      0
    Trailheads Found
  .filters
    = render :partial => "trailhead_filters"
