:javascript
  find_mode = 'TRIPS';
- content_for :list_filters do
  .list-header
    .list-header-icon.trips
    %span.badge.badge-inverse#trip-count
      0
    Trips Found
  .filters
    = render :partial => "trip_filters"
