.row
  .span8.maplist
    .map
      #find_map
    .list
      - 10.times do
        %p
          Google is now legally responsible for every crazy thing on the Internet–at least, in Australia. The Supreme Court of Victoria fined Google $200,000 for not removing defamatory rumors linking music promoter, Milorad Trkulja, to organized crime. The court reasoned that Google is a “publisher” because it displays content and links to offending websites.
  .span4.filters
    .well
      - 4.times do
        %p
          Google is now legally responsible for every crazy thing on the Internet–at least, in Australia. The Supreme Court of Victoria fined Google $200,000 for not removing defamatory rumors linking music promoter, Milorad Trkulja, to organized crime. The court reasoned that Google is a “publisher” because it displays content and links to offending websites.