%h2.page-header 404 - Page Not Found
.content
  %h5
    Sorry, there's nothing really here.
  %p
    %ul
      %li
        = link_to "Trips", find_trips_path
      %li
        = link_to "Trailheads", find_trailheads_path
      %li
        = link_to "Campgrounds", find_campgrounds_path
