.content
  %h3
    Everything
  %p(style="padding:20px")
    %iframe(src="/embed/trips/57?r=r" frameborder="false" width="600" height="1000" )

  %h3
    Only Photos with Custom Title
  %p(style="padding:20px")
    %iframe(src="/embed/trips/57?r=r&title=Trip%20Photos&show=photos" frameborder="false" width="400" height="600" )

  %h3
    Only Header and Map with Custom Title
  %p(style="padding:20px")
    %iframe(src="/embed/trips/57?r=r&title=Trip%20Map&show=header,map" frameborder="false" width="400" height="600" )
