.content
  %h1
    GGNPC Trip Embed Demo
  %br
  %h3
    Example 1 : All Sections (700x2500px)
  %h5
    Code
  %pre
    &lt;iframe src=&quot;http://embed.transitandtrails.org/embed/trips/1287&quot; frameborder=&quot;false&quot; width=&quot;700&quot; height=&quot;2500&quot;&gt;&lt;/iframe&gt;
  %hr
  %h4
    Preview
  %p(style="padding:20px")
    %iframe(src="http://embed.transitandtrails.org/embed/trips/1287" frameborder="false" width="700" height="2500" )

  %h3
    Example 2 : Only Header, Description and Map with Custom Title (600x800px)
  %h5
    Code
  %hr
  %pre
    &lt;iframe src=&quot;http://embed.transitandtrails.org/embed/trips/1287?title=Trip%20Map&amp;show=header,description,map&quot; frameborder=&quot;false&quot; width=&quot;600&quot; height=&quot;800&quot;&gt;&lt;/iframe&gt;
  %h4
    Preview
  %p(style="padding:20px")
    %iframe(src="http://embed.transitandtrails.org/embed/trips/1287?title=Trip%20Map&show=header,description,map" frameborder="false" width="600" height="800" )

  %h3
    Example 3 : Only Photos with Custom Title (300x400px)
  %h5
    Code
  %hr
  %pre
    &lt;iframe src=&quot;http://embed.transitandtrails.org/embed/trips/1287?title=Trip%20Photos&amp;show=photos&quot; frameborder=&quot;false&quot; width=&quot;300&quot; height=&quot;400&quot;&gt;&lt;/iframe&gt;
  %h4
    Preview
  %p(style="padding:20px")
    %iframe(src="http://embed.transitandtrails.org/embed/trips/1287?title=Trip%20Photos&show=photos" frameborder="false" width="300" height="400" )

  %h3
    Example 4 : Map Only, No Section Labels
  %h5
    Code
  %hr
  %pre
    &lt;iframe src=&quot;http://embed.transitandtrails.org/embed/trips/1287?show=map&amp;hide_title=true&amp;hide_section_labels=true&quot; frameborder=&quot;false&quot; width=&quot;600&quot; height=&quot;600&quot;&gt;&lt;/&lt;iframe&gt;
  %h4
    Preview
  %p(style="padding:20px")
    :erb
      <iframe src="http://embed.transitandtrails.org/embed/trips/1287?show=map&hide_title=true&hide_section_labels=true" frameborder="false" width="600" height="600"></iframe>

  %h3
    Example 5 : Full Description
  %h5
    Code
  %hr
  %pre
    &lt;iframe src=&quot;http://embed.transitandtrails.org/embed/trips/1287?show=header,description,map&amp;full_description=true&quot; frameborder=&quot;false&quot; width=&quot;600&quot; height=&quot;1400&quot;&gt;&lt;/iframe&gt;
  %h4
    Preview
  %p(style="padding:20px")
    %iframe(src="http://embed.transitandtrails.org/embed/trips/1287?show=header,description,map&full_description=true" frameborder="false" width="600" height="1400" )
