.content
  %h1
    Santa Clara Park Embed Preview
  %br
  %h3
    Example 
  %h5
    Code
  %pre
    &lt;iframe src=&quot;http://embed.transitandtrails.org/embed/parks/86&quot; frameborder=&quot;false&quot; width=&quot;800&quot; height=&quot;600&quot;&gt;&lt;/iframe&gt;
  %hr
  %h4
    Preview
  %p(style="padding:20px")
    %iframe(src="http://embed.transitandtrails.org/embed/parks/86" frameborder="false" width="800" height="600" )

