@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
html{
  border: 1px solid #CACBCD;
  box-sizing: border-box;
}
html,body,.embed,#plan,#the-plan{
  width:100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #F6F7FC;
}


.legacy {

  h3#name-title{
    padding-left:12px;
  }
  label{
    color: #4C93B5;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
  }
  .ui-datepicker-calendar{
    td{
      padding:2px;
    }
  }

  #the-plan,#return-trip-button,#get-directions-button{
    width:100%;
    float:none;
  }
  #get-directions-button{
    width:49%;
    float:left;
  }
  #return-trip-button{
    width:49%;
    float:right;
  }
  #the-plan .set{
    float:none;
  }
  #the-plan {
    .address{
      width: 95%;
    }
  }
  .plan-type{
    padding: 15px 0px 0px 6px;
  }
  .numbers li{
    width:33%;
  }
  .pac-container
  {
    border:solid 1px #ccc;
    z-index: 10000 !important;
    padding:2px;
    box-shadow: 3px 3px 6px #aaa;
  }
  #ggnpc-warning{
    line-height:1.4em;
    padding:20px;
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    background-color:#fff;

    top:30px;
    width:280px;
    min-height:200px;
    border:1px solid #666;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
  }

  /* close button positioned on upper right corner */
  #ggnpc-warning .close {
      position:absolute;
      right:-15px;
      top:-15px;
      cursor:pointer;
      height:35px;
      width:35px;
  }
  #plan-map{
    width:0px;
  }
  #plan{
    float:left;
    border-radius: 0;
    border:none;
  }

  #the-plan{
    border-right:none;
  }

  #the-plan p{
    clear:both;
    padding: 7px 12px;
  }

  #the-plan #starting-point-form{
    padding: 8px 12px;
    margin-bottom:19px;
  }
  #the-plan #starting-point-latlng{
    font-style:italic;
    margin:4px;
    float:left;
    clear:both;
    font-size:0.9em;
    color:#b3b3b3;
  }

  #the-plan h3{
    height:inherit;
    padding-bottom:10px;
  }

  #the-plan h3#name-title{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }

  .numbers{
    margin: 6px 25px 0px 25px;
  }

  #carbon-cost{
    margin: 6px 25px 5px 25px;
    text-align:center;
    color:#60B32A;
    font-size:0.85em;
    font-weight:bold;
  }

  #trailhead-select{
    margin: 0px 0px 3px 20px;
    width:95%;
  }
}

@media (max-width: 290px) {  
  .legacy #the-plan h3#name-title{
    max-width:200px;
  }

  .legacy{
    #return-trip-button, #get-directions-button{
      margin-top:4px;
      width:100%;
      clear:both;
    }
  }

}
