#plan-map img {
  max-width: none;
}

select, input[type=text]
{
	font-size:12px;
	height:25px;
	padding:3px 5px;
	border: solid 1px #C2D4E7;
	background: -moz-linear-gradient(top, #ECEEEE 0%, #FFFFFF 45%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ECEEEE), color-stop(45%,#FFFFFF), color-stop(100%,#FFFFFF)); /* webkit */
}

input[type=text] {
  height: 23px;
  padding: 0;
}

#trip_hour, #trip_minutes{
  width: 18px;
  height: 11px;
  padding: 6px;
}

#transit-router.select{
  width: 90px;
}

h3#name-title{
  padding-top:0px;
}

label#returning-from-label{
  padding-top:10px;
  padding-left:23px;
  padding-bottom:4px;
}

#carbon-cost{
  margin: 6px 25px 5px 25px;
  text-align:center;
  color:#60B32A;
  font-size:0.85em;
  font-weight:bold;
}

#driving-carbon{
  font-weight:bold;
}
