
#django-submit{
	margin:0 auto;
	width:500px;
	padding:14px 0px 0px 0px;
}


#django-cancel-link{
	margin-left:50px;
}


div.newsletter-label{
	margin-left:200px;
}

#newsletter-label{
	margin-left:10px;
	font-size:12px;
	color:#7a8c96;
}
