@import 'bourbon';

body {
    font-size: 13px;
    margin: 0px;
    color: #514b42;
    font-family: 'Open Sans', sans-serif;
}

.legacy, .container.main, #plan-map {

    .radio input[type="radio"], .checkbox input[type="checkbox"] {
        margin-left:0px;
        margin-right:10px;
    }

    .green-button{
      @include button(#74AB4C);
      text-shadow: 0 -1px 1px #001E00;
      font-weight:600;
      font-size:14px;
    }

    .gray-button{
      @include button(#666);
      text-shadow: 0 -1px 1px #001E00;
      font-weight:600;
      font-size:14px;
    }

    #api-docs pre{
        padding:10px;
        border: 1px solid #aaa;
        overflow:auto;
    }

    #api-docs tr,td,th,table{
        padding:10px;
    }

    #api-docs th{
        font-weight:bold;
    }

    .trip-editor-map {
        cursor: crosshair;
    }

    #head {
        position: relative;
        height: 160px;
        z-index: 1;
        background: url(/assets/legacy/header.png) top left no-repeat;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .7);
    }

    #login-box {
        position: absolute;
        top: 12px;
        left: 16px;
        color: #39a0d7;
    }

    #logo {
        position: absolute;
        right: 30px;
        bottom: 30px;
        height: 85px;
        width: 220px;
        text-indent: -9999em;
    }

    #show {
        position: relative;
        height: 44px;
        background: url(/assets/legacy/show-bg.png) top left;
        border-bottom: 1px solid #ccc;
        -webkit-box-shadow: 0 1 10px 0 rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 1 10px 0 rgba(0, 0, 0, .3);
        -o-box-shadow: 0 1 10px 0 rgba(0, 0, 0, .3);
        box-shadow: 0 1 10px 0 rgba(0, 0, 0, .3);
        padding-left: 25px;
        z-index: 2;
    }

    #show label {
        float: left;
        padding: 0 12px;
        height: 44px;
        line-height: 44px;
        font-weight: bold;
    }

    #show select {
        float: left;
        height: 30px;
        width: 275px;
        padding: 3px;
        line-height: 30px;
        margin: 7px 0 0;
        border: 1px solid #ddd;
    }

    #show .text {
        float: left;
        width: 30px;
        padding: 0 8px 0 0;
        height: 23px;
        text-align: right;
        margin: 9px 0 0 0;
        border: 1px solid #afc2dc;
        background-color: #eeeeee;
        background-image: -moz-linear-gradient(top, #eeeeee, #ffffff); /* FF3.6 */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #ffffff)); /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(#eeeeee, #ffffff); /* Chrome 10+, Saf6 */
        background-image: linear-gradient(top, #eeeeee, #ffffff);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#eeeeee', EndColorStr = '#ffffff'); /* IE6–IE9 */
    }

    #show .text.ofplace {
        width: 308px;
    }

    #show .submit {
        float: left;
        height: 32px;
        width: 94px;
        border: 0;
        text-indent: -9999em;
        background: url(/assets/legacy/fond.png) top left no-repeat;
        margin: 6px 0 0 12px;
    }

    #content {
        position: relative;
        padding-top: 15px;
    }

    #menu {
        position: absolute;
        top: 22px;
        right: 28px;
        font-size: 16px;
        color: #bfbfbf;
    }

    #menu li {
        float: left;
    }

    #menu li:after {
        content: " | "
    }

    #menu li:last-of-type:after {
        content: "";
    }

    #menu li a {
        float: left;
        margin: 0 15px;
        color: #1b80ae;
        text-transform: uppercase;
    }

    .entry {
        position: relative;
        background: #f6f7fc;
        text-align: left;
        padding: 0 40px 14px;
        font-size: 14px;
        overflow: hidden;
    }

    .entry.titleleft {
        display: inline-block;
        float: left;
        border-top: solid 1px #C7C7C7;

    }

    .entry.titleright {
        background: url(/assets/legacy/item-title2.png);
        background-position: -190px top;
        height: 20px;
    }

    .entry.top {
        padding: 0 40px;
        border-bottom: solid 1px #C7C7C7;
    }

    .entry.top.static {
        background: #F6F7FC;
        padding: 0px;
        border-bottom: solid 1px #C7C7C7;
    }

    .entry.top.static.allblue {
        border-bottom: none;
    }

    .entry.bottom {
        border-bottom: solid 1px #C7C7C7;
        border-top: solid 1px #C7C7C7;
        min-height: 30px;
    }

    .entry.bottom.allblue {
        border-top: none;
    }

    .entry.static {
        background: #fff;
        margin-top: 10px;
    }

    .entry.static.allblue {
        background: #F6F7FC;
        margin-top: 0;
    }

    .entry.top.static p {
        margin-left: 0px;
    }

    .entry.static p {
        margin-left: 80px;
        margin-top: 20px;
        color: #697780;
    }

    .entry.static.allblue p {
        margin-left: 0;
    }

    .entry.static.allblue img {
        border: 0;
    }

    .entry.static .profile-details p {
        margin: 20px 0 0 0;
        color: #697780;
    }

    .entry.static ul {
        margin-left: 100px;
        margin-top: 20px;
        color: #697780;
    }

    .entry.alt {
        background: #fff;
    }

    .entry h2 {
        height: 24px;
        line-height: 24px;
        position: relative;
        padding-top: 16px;
        font-size: 24px;
        position: relative;
        margin: 0 -40px;
        padding-left: 40px;
        margin-bottom: 24px;
        background: url(/assets/legacy/item-title2.png) top left;
    }

    .entry.static h2 {
        margin-bottom: 6px;
        background-image: none;
    }

    .entry.alt h2 {
        background: url(/assets/legacy/item-title1.jpg) top left;
    }

    .entry h3 {
        font-size: 16px;
        padding-bottom: 1em;
        clear: both;
        text-transform: uppercase;
    }

    .entry h3 em {
        font-size: 14px;
        display: block;
        text-transform: none;
    }

    .entry h4 {
        font-size: 16px;
        padding: 10px 0;
    }

    .entry ul, .entry ol, .entry p {
        line-height: 1.5em;
        padding-bottom: 1em;
    }

    .entry ul li {
        list-style: inside disc;
    }

    .entry .col ul li {
        list-style: none;
    }

    .entry strong {
        font-weight: bold;
    }

    .entry a {
        color: #1b80ae;
    }

    .entry .img-left {
        margin-right: 20px;
    }

    .entry .img-right {
        margin-left: 20px;
    }

    .entry img {
        padding: 1px;
        border: 1px solid #ccc;
    }

    .entry a.to-top {
        position: absolute;
        top: 15px;
        right: 40px;
        color: #999;
        font-size: 11px;
        z-index: 100;
        text-transform: uppercase;
    }

    ul.people {
        position: relative;
    }

    ul.people li {
        list-style: none;
        padding-bottom: 2em;
    }

    ul.people li h3 {
        clear: none;
    }

    .people img {
        float: left;
    }

    .people div {
        position: relative;
        margin-left: 120px;
    }

    .col {
        float: left;
        width: 45%;
    }

    .col.alt {
        float: right;
    }

    #page {
        position: relative;
        padding: 10px 15px;
        text-align: left;
    }

    #page-head, .section-head {
        position: relative;
        overflow: hidden;
    }

    #page-head h2, .section-head h2 {
        float: left;
        line-height: 20px;
        height: 20px;
        padding: 0 28px 0 24px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 100px;
        background: url(/assets/legacy/tab.png) bottom right no-repeat;
    }

    #page-head a, .section-head a {
        float: left;
        color: #1b80ae;
        line-height: 20px;
        padding-left: 14px;
        text-transform: uppercase;
        background: url(/assets/legacy/crumb.jpg) left center no-repeat;
    }

    #plan {
        position: relative;
        overflow: hidden;
        border: 1px solid #cacbcd;
        -webkit-border-radius: 0 8px 8px 8px;
        -moz-border-radius: 0 8px 8px 8px;
        -o-border-radius: 0 8px 8px 8px;
        border-radius: 0 8px 8px 8px;
        background: #f6f7fc;
    }

    #plan.alt {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }

    #plan.trailhead{
        border: 0;
        background: none;
        float: left;
    }


    #map-container {
        float: right;
        position: relative;
        -webkit-border-radius: 0 0px 8px 8px;
        -moz-border-radius: 0 0px 8px 8px;
        -o-border-radius: 0 0px 8px 8px;
        border-radius: 0 0px 8px 8px;
    }

    #plan-map, #find-map {
        float: right;
        width: 573px;
        position: relative;
        min-height: 600px;
    }

    #plan div#plan-map.trip-detail {
        min-height: 800px;
    }

    #plan.alt #plan-map, #find-map {
        min-height: 600px;
    }

    #plan.alt.trailhead #plan-map {
        min-height: 0;
        height: 460px;
        width: 500px;
        float: right;
        margin: 96px 0 0 0;
        -webkit-border-radius: 0 0px 8px 8px;
        -moz-border-radius: 0 0px 8px 8px;
        -o-border-radius: 0 0px 8px 8px;
        border-radius: 0 0px 8px 8px;
    }

    #plan.alt.trailhead #plan-map-instructions {
        z-index:100;
        height: 76px;
        padding: 10px 20px;
        width: 460px;
        position: absolute;
        right: 0px;
        -webkit-border-radius: 8px 8px 0 0;
        -moz-border-radius: 8px 8px 0 0;
        -o-border-radius: 8px 8px 0 0;
        border-radius: 8px 8px 0 0;
        background: #1D74A6;
        color: #fff;
    }

    #plan.alt.trailhead #plan-map.trip-details-map, #plan.alt.trailhead #plan-map.trailhead-details-map {
        border: 1px solid hsl(220, 3%, 80%);
        min-height: 0;
        height: 336px;
        width: 500px;
        float: left;
        margin: 0;
    }

    #trip_stories{
        float:left;
    }
    #plan-map.trip-details-map, #plan-map.trailhead-details-map {
        border: 1px solid hsl(220, 3%, 80%);
        min-height: 0;
        height: 336px;
        width: 515px;
        float: right;
        margin: 0;
    }

    .trailhead-photo-admin {
        background: none repeat scroll 0 0 #F6F7FC;
        border: 1px solid #CACBCD;
        border-radius: 0 8px 0 0;
        margin-bottom: 20px;
        padding: 10px;
    }

    #trailhead-photos-map { float: right; margin: 0; }


    #plan-map img {
        display: block;
    }


    .trailhead .attributes {
        margin: 20px;
        clear: both;
        float: left;
        height: 100%;
        width: 100%;
    }

    #trip-meta .attributes { margin: 20px 0; }

    .trailhead .attributes ul.outer-list {
        width: 900px;
        column-count:3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        display: block;
        margin: 40px 0 0 10px;
    }

    .trailhead .attributes ul.outer-list > li { margin: 0 0 30px 0; display: block; width: 250px; display: inline-block; }
    .trailhead .attributes ul.outer-list > li .text-attr-label { margin: 0;}

    /*.trailhead .attributes ul.outer-list li { display: block; float: left; width: 33%; }*/
    /*.trailhead .attributes ul.outer-list li.col1 { clear: left; }*/
    /*.trailhead .attributes ul.outer-list li ul li { width: 100%; }*/
    .trailhead .attributes ul.outer-list li ul li.hidden { display: none; }

    #plan.alt.trailhead a.show-more {
        color: #1B80AE;
        display: inline-block;
        font-size: 80%;
        font-weight: bold;
        margin: 0 20px;
    }

    a.back-to-details {
      margin-left: 20px;
    }

    #tour, #trailhead {
        float: left;
        width: 377px;
        overflow: hidden;
        border-right: 1px solid #bbb;
        min-height: 517px;
        padding-top: 16px;
        position: relative;
    }

    #trailhead-meta {
        float: left;
        width: 370px;
        padding: 25px;
        height: 100%;

        overflow: hidden;
        border: 1px solid #cacbcd;
        -webkit-border-radius: 0 8px 8px 8px;
        -moz-border-radius: 0 8px 8px 8px;
        -o-border-radius: 0 8px 8px 8px;
        border-radius: 0 8px 8px 8px;
        background: #f6f7fc;
    }

    #trip-meta {
        float: left;
        width: 420px;
        height: 100%;

        overflow: hidden;
        border: 1px solid #cacbcd;
        -webkit-border-radius: 0 8px 8px 8px;
        -moz-border-radius: 0 8px 8px 8px;
        -o-border-radius: 0 8px 8px 8px;
        border-radius: 0 8px 8px 8px;
        background: #f6f7fc;
    }

    #trip-meta #details {
        padding: 0 25px;
    }

    #trailhead #organization, #trip-meta #organization { padding: 20px 25px; border-bottom: 1px solid #cacbcd; color: #1B80AE; font-style: italic;  }
    #trailhead #organization a, #trip-meta #organization a {color: #1B80AE; text-decoration: underline; }
    #trailhead #organization .cell, #trip-meta #organization .cell { display: table; }
    #trailhead #organization .cell .content, #trip-meta #organization .cell .content { display: table-cell; vertical-align: middle; padding-right: 10px; }
    #trailhead #organization img, #trip-meta #organization img { max-width: 100px; max-height: 60px; display: block; padding-left: 20px;}
    #trip-meta .description { padding: 20px 0 0 0 ;}
    #trailhead-meta input[type="text"] {
        width: 355px;
    }

    #trailhead-meta input#id_start_address {
        width: 300px;
    }

    #trailhead-meta label.address {
        color: #1b80ae;
        font-size: 13px;
        width:inherit;
    }

    #trailhead-meta .list { float: left; margin: 0 20px 0 0; }

    #trailhead-features {
        float: left;
        clear: right;
        font-size: 16px;
        color: #1b80ae;
        margin: 5px 0;
    }

    .trailhead-edit-button {
        float: right;
        clear: right;
        width: 170px;
        height: 40px;
        padding: 10px 130px 10px 0;
    }

    .type-flag {
        position: absolute;
        top: 14px;
        left: 25px;
    }


    #tour h2 {
        font-size: 16px;
        text-transform: uppercase;
        padding: 15px 0 0 70px;
        height: 51px;
        background: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #trailhead .header h2 em {
        font-style: italic;
        display: block;
        text-transform: none;
        font-size: 14px;
        color: #1b80ae;
        padding-top: 8px;
    }

    #trailhead .header {
        padding: 15px 0 0 70px;
        height: 51px;
        background: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

    }

    #trailhead .header h2 {
        font-size: 16px;
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 8px;
    }

    #trailhead .header em {
        font-style: italic;
        display: block;
        text-transform: none;
        font-size: 13px;
        color: #1b80ae;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .gal {
        position: relative;
        margin: 0 25px 14px;
    }

    .gal ul {
        position: relative;
        overflow: hidden;
        padding: 0 13px;
    }

    .gal li {
        float: left;
        height: 64px;
        width: 64px;
        padding-left: 9px;
    }

    .gal li a {
        float: left;
    }

    .gal li img {
        float: left;
        height: 60px;
        width: 60px;
        padding: 1px;
        border: 1px solid #ddd;
    }

    .gal-left, .gal-right {
        position: absolute;
        top: 22px;
        left: 0;
        width: 9px;
        height: 27px;
        background: url(/assets/legacy/l.jpg) top left no-repeat;
    }

    a.gal-right {
        right: 0;
        left: auto;
        background: url(/assets/legacy/r.jpg) top left no-repeat;
    }

    .tour-time {
        position: relative;
        border: 1px solid #ddd;
        background: #fff;

        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        -o-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
        overflow: hidden;
    }

    .tour-time li {
        float: left;
        width: 33%;
        font-size: 14px;
        padding: 6px 0;
        text-align: center;
        line-height: 1.4em;
        border-right: 1px solid #ddd;
    }

    .tour-time li:last-of-type {
        border: 0;
    }

    .tour-time strong {
        display: block;
        font-weight: bold;
    }

    .tour-time em {
        color: #677780;
    }

    .to-from{
        position: relative;
        padding: 8px 18px;
        background: #fff;
        border: 1px solid #ddd;
        border-top: 0;
    }

    .parks{
        position: relative;
        padding: 8px 18px;
        background: #fff;
        border: 1px solid #ddd;
        border-top: 0;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        -o-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
    }


    .to-from p {
        line-height: 1.3em;
        font-size: 14px;
        padding: 6px 0 6px 32px;
    }

    .to-from strong {
        display: block;
        font-weight: bold;
    }

    .to-from a {
        color: #1b80ae;
    }

    .from {
        background: url(/assets/legacy/start.jpg) left center no-repeat;
    }

    .to {
        background: url(/assets/legacy/end.jpg) left center no-repeat;
    }

    .tagged {
        font-size: 14px;
        margin: 0 25px 25px 25px;
        line-height: 1.4em;
    }

    .tagged h3 {
        font-weight: bold;
        padding-bottom: 3px;
    }

    .tagged a {
        color: #1b80ae;
    }

    .do-trip {
        position: absolute;
        bottom: 25px;
        right: 25px;
        height: 36px;
        width: 158px;
        text-indent: -9999em;
        background: url(/assets/legacy/do-trip.jpg) top left;
    }

    #the-plan {
        float: left;
        width: 377px;
        overflow: hidden;
        border-right: 1px solid #bbb;
        min-height: 483px;
    }

    #the-plan h3 {
        font-size: 16px;
        text-transform: uppercase;
        padding: 20px 0 0 23px;
        height: 53px;
    }

    #the-plan h4 {
        font-size: 14px;
        font-style: italic;
        padding: 6px 0 8px 23px;
        color: #1d80ae;
    }

    .plan-type {
        position: relative;
        padding: 15px 0 0 18px;
        background: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #aaa;
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
        -o-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
        box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
        margin-bottom: 6px;
    }

    .plan-type ul {
        position: relative;
        overflow: hidden;
    }

    .plan-type li {
        float: left;
        padding-left: 20px;
    }

    .plan-type li a {
        float: left;
        width: 44px;
        padding: 44px 0 6px 0;
        text-align: center;
        color: #677780;
        font-size: 11px;
        text-decoration: none;
    }

    .plan-type li.active a {
        color: #514c41;
    }

    .pt1 {
        background: url(/assets/legacy/direction_mode_sprite.png) 2px 0px no-repeat;
    }

    .pt1.active, .pt1:hover {
        background: url(/assets/legacy/direction_mode_sprite.png) 2px -144px no-repeat;
    }

    .pt2 {
        background: url(/assets/legacy/direction_mode_sprite.png) -58px 0px no-repeat;
    }

    .pt2.active, .pt2:hover {
        background: url(/assets/legacy/direction_mode_sprite.png) -58px -144px no-repeat;
    }

    .pt3 {
        background: url(/assets/legacy/direction_mode_sprite.png) -117px 0px no-repeat;
    }

    .pt3.active, .pt3:hover {
        background: url(/assets/legacy/direction_mode_sprite.png) -117px -144px no-repeat;
    }

    .pt4 {
        background: url(/assets/legacy/direction_mode_sprite.png) -178px 0px no-repeat;
    }

    .pt4.active, .pt4:hover {
        background: url(/assets/legacy/direction_mode_sprite.png) -178px -144px no-repeat;
    }

    .pt5 {
        background: url(/assets/legacy/direction_mode_sprite.png) 2px 0px no-repeat;
    }

    .pt5:hover {
        background: url(/assets/legacy/direction_mode_sprite.png) 2px -144px no-repeat;
    }

    .rideshare {
        background: url(/assets/legacy/direction_mode_sprite.png) -237px 0px no-repeat;
    }

    .rideshare.active, .rideshare:hover {
        background: url(/assets/legacy/direction_mode_sprite.png) -237px -144px no-repeat;
    }

    a.gear {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 10px;
        width: 10px;
        background: url(/assets/legacy/gear.jpg) top left no-repeat;
    }

    #the-plan p {
        position: relative;
        padding: 15px 25px;
        overflow: hidden;
    }

    #the-plan label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 7px;
    }

    #the-plan .address {
        float: left;
        padding: 0 9px;
        height: 23px;
        line-height: 23px;
        font-size: 13px;
        width: 237px;
        border: 1px solid #c1d3e7;
    }

    #the-plan .set {
        float: right;
        height: 25px;
        width: 58px;
        text-indent: -9999em;
        border: 0;
        background: url(/assets/legacy/set.jpg) top left no-repeat;
    }

    #the-plan .date, #the-plan .time {
        float: left;
        padding: 0 25px 0 4px;
        height: 23px;
        line-height: 23px;
        color: #514b42;
        width: 80px;
        margin-left: 10px;
        background-image: url(/assets/legacy/cal.jpg);
        background-position: 80px 4px;
        background-repeat: no-repeat;
        border: 1px solid #c1d3e7;
    }

    #the-plan .time {
        background-image: url(/assets/legacy/tick.jpg);
        background-position: 84px 7px;
    }

    #the-plan .select {
        float: left;
        height: 25px;
        width: 72px;
        padding: 2px;
    }

    .numbers {
        position: relative;
        margin-top: 70px;
        font-size: 11px;
        background: #fff;
        border: 1px solid #ddd;
        overflow: hidden;
        margin: 45px 25px 10px 25px;
        -webkit-border-radius: 8px;
    }

    .numbers li {
        float: left;
        width: 107px;
        padding: 6px 0 10px 0;
        text-align: center;
        border-right: 1px solid #ddd;
    }

    .numbers strong {
        font-weight: bold;
        padding-bottom: 8px;
        display: block;
    }

    .numbers em {
        color: #999;
    }

    .numbers li:last-of-type {
        border: 0;
    }

    .plan-return {
        float: left;
    }

    .get-directions {
        float: right;
    }

    #return-trip-button {
        width: 170px;
        background-color: #6AA9CC;
    }

    #return-trip-button:hover {
        background-color: #5689A6;
    }

    #return-trip-button, #get-directions-button {
        padding: 8px 16px;
        margin: 0px;
        font-size: 15px;
    }

    .plan-entry {
        position: relative;
        padding: 25px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-top: 0;
        text-align: justify;
        -webkit-border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
        -o-border-radius: 0 0 8px 8px;
        border-radius: 0 0 8px 8px;
        -moz-column-gap: 30px;
        -webkit-column-gap: 30px;
        column-width: 440px;
        /*      -moz-column-count: 2;
              -webkit-column-count: 2;
              column-count: 2;
        */
        margin-bottom: 25px;
    }

    .plan-entry p, .plan-entry ul, .plan-entry ol {
        line-height: 1.5em;
        padding-bottom: 1em;
        color: #677780;
    }

    .plan-entry h4 {
        font-weight: bold;
        padding-bottom: 1em;
    }

    .comments {
        border: 1px solid #ccc;
        -webkit-border-radius: 0 8px 8px 8px;
        -moz-border-radius: 0 8px 8px 8px;
        -o-border-radius: 0 8px 8px 8px;
        border-radius: 0 8px 8px 8px;
        padding: 25px;
        background: #f6f7fc;
        min-height: 180px;
    }

    #trails {
        z-index: 0;
        position: relative;
        overflow: hidden;
        text-align: left;
        height: 580px;
        border-bottom: 1px solid #b3b3b3;
    }

    #the-trails {
        float: right;
        width: 629px;
        height: 580px;
        position: relative;
    }

    #add-trails {
        position: absolute;
        bottom: 15px;
        right: 14px;
        padding: 8px 12px;
        color: white;
        font-size: 13px;
        height: 13px;
        text-transform: uppercase;
    }

    #trail-list {
        position: relative;
        width: 353px;
        height: 580px;
        background: #fff;
        z-index: 100;
        border-right: 1px solid #b3b3b3;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        -o-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    }

    #trail-list ul {
        position: relative;
        overflow: auto;
        height: 580px;
    }

    #trail-list li {
        position: relative;
        padding: 14px 14px 14px 60px;
        border-bottom: 1px solid #e6e6e6;
        background-position: 18px center;
        background-repeat: no-repeat;
    }

    #trail-list li:nth-child(even) {
        background-color: #f8f8f8;
    }

    #trail-list li.trail-type-trip {
        background-image: url(/assets/legacy/icon1.png);
    }

    #trail-list li.trail-type-trailhead {
        background-image: url(/assets/legacy/icon2.png);
    }

    #trail-list li.trail-type-campground {
        background-image: url(/assets/legacy/icon3.png);
    }

    #trail-list h2 {
        width: 200px;
        color: #807970;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 5px;
    }

    #trail-list h2.details-link {
        cursor: pointer;
    }

    #trail-list h2.details-link:hover {
        text-decoration: underline;
    }

    #trail-list span {
        position: absolute;
        top: 0;
        right: 12px;
        height: 100%;
        color: #999;
        font-size: 15px;
        line-height: 50px;
    }

    #trail-list p {
        font-size: 12px;
        color: #b2b2b2;
    }

    #trail-list a {
        color: #b2b2b2;
    }

    #front {
        position: relative;
        padding: 15px;
        overflow: hidden;
    }

    .tabs {
        overflow: hidden;
    }

    .tabs li {
        float: left;
        margin-right: -12px;
        position: relative;
    }

    .tabs li a {
        float: left;
        line-height: 20px;
        height: 20px;
        padding: 0 28px 0 14px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        background: url(/assets/legacy/tab.png) top right no-repeat;
    }

    .tabs li a:hover, .tabs li a.active {
        background-position: bottom right;
    }

    .tabs li a.active {
        z-index: 11;
    }

    .tabs li:nth-child(1) {
        z-index: 10;
    }

    .tabs li.active:nth-child(1) {
        z-index: 11;
    }

    .tabs li a:nth-child(1) {
        z-index: 10;
    }

    .tabs li:nth-child(2) {
        z-index: 9;
    }

    .tabs li.active:nth-child(2) {
        z-index: 11;
    }

    .tabs li a:nth-child(2) {
        z-index: 9;
    }

    .tabs li:nth-child(3) {
        z-index: 8;
    }

    .tabs li.active:nth-child(3) {
        z-index: 11;
    }

    .tabs li a:nth-child(3) {
        z-index: 8;
    }

    .tabs li a:nth-child(4) {
        z-index: 7;
    }

    .tabs li:nth-child(4) {
        z-index: 7;
    }

    .tabs li.active:nth-child(4) {
        z-index: 11;
    }

    .front-box {
        position: relative;
        min-height: 278px;
        background: #f5f6fc;
        border: 1px solid #ccc;
        -webkit-border-radius: 0 8px 8px 8px;
        -moz-border-radius: 0 8px 8px 8px;
        -o-border-radius: 0 8px 8px 8px;
        border-radius: 0 8px 8px 8px;
    }

    .tab-box {
        position: relative;
    }

    #sign-up {
        display: block;
    }

    #account {
        float: left;
        width: 338px;
        position: relative;
    }

    #social {
        position: absolute;
        bottom: 15px;
        background: #fff;
        padding: 13px 0 13px 12px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        width: 324px;
    }

    #social li {
        float: left;
        padding-left: 15px;
    }

    #social li a {
        float: left;
        width: 58px;
        color: #666;
        font-size: 11px;
        padding: 38px 0 0 0;
        text-decoration: none;
    }

    a.social1 {
        background: url(/assets/legacy/s1.png) top center no-repeat;
    }

    a.social2 {
        background: url(/assets/legacy/s2.png) top center no-repeat;
    }

    a.social3 {
        background: url(/assets/legacy/s3.png) top center no-repeat;
    }

    a.social4 {
        background: url(/assets/legacy/s4.png) top center no-repeat;
    }

    a.social5 {
        background: url(/assets/legacy/s5.png) top center no-repeat;
    }

    #social li a:hover {
        opacity: .7;
    }

    #sign-up p {
        position: relative;
        overflow: hidden;
        padding: 14px 24px 0 0;
    }

    #sign-up .text, #sign-up .password {
        float: right;
        height: 26px;
        width: 190px;
        background: #fff;
        line-height: 26px;
        padding: 0 8px 0 10px;
        border: 1px solid #ccc;
    }

    #sign-up label {
        float: left;
        line-height: 28px;
        text-align: right;
        width: 88px;
        padding-right: 14px;
        font-size: 13px;
        color: #7a8c96;
    }

    #sign-up .password {
        width: 83px;
        float: left;
    }

    #sign-up .submit {
        float: right;
        height: 32px;
        width: 94px;
        border: 0;
        margin-top: -2px;
        text-indent: -9999em;
        background: url(/assets/legacy/signup.png) top left;
    }

    #sign-up label.alt {
        float: right;
        width: auto;
        padding-right: 10px;
        font-size: 11px;
    }

    #sign-up .check {
        float: left;
        margin: 7px 0 0 102px;
    }

    #activity {
        float: right;
        width: 602px;
        position: relative;
    }

    #recent {
        text-align: left;
    }

    #recent h3 {
        position: relative;
        padding: 14px 0 10px 0;
        font-weight: bold;
    }

    .recent {
        position: relative;
        background: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 14px 0;
        overflow: hidden;
    }

    .recent li {
        float: left;
        padding-left: 16px;
    }

    .recent li a {
        float: left;
    }

    .recent li a img {
        float: left;
        padding: 2px;
        border: 1px solid #ededed;
        height: 75px;
        width: 75px;
    }

    .recent-comments {
        float: left;
        width: 285px;
        padding-left: 15px;
    }

    .recent-comments blockquote {
        padding: 10px;
        background: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
        font-style: italic;
        color: #535f66;
        font-size: 12px;
    }

    .recent-comments blockquote p {
        padding: 0;
        line-height: 1.5em;
    }

    .recent-comments blockquote p a {
        color: #a5becc;
    }

    .recent-comments cite {
        text-align: right;
        display: block;
        color: #a5becc;
        padding: 12px 0 0 0;
        font-size: 12px;
        font-style: italic;
        position: relative;
    }

    .recent-comments cite a {
        color: #1b80ae;
    }

    .recent-comments cite:after {
        content: " ";
        position: absolute;
        top: -1px;
        right: 80px;
        height: 10px;
        width: 16px;
        background: url(/assets/legacy/d.gif) top left no-repeat;
    }

    .new-items {
        float: right;
        width: 250px;
        padding-right: 20px;
    }

    .new-items ul {
        position: relative;
        font-size: 12px;
        line-height: 1.5em;
    }

    .new-items li {
        margin-bottom: 4px;
    }

    .new-items a {
        color: #535f66;
        padding-left: 16px;
    }

    .new-items span {
        color: #a5becc;
    }

    .new-items .trail-type1, .new-items .trailhead-type {
        background: url(/assets/legacy/bull1.png) left center no-repeat;
    }

    .new-items .trail-type2, .new-items .campground-type {
        background: url(/assets/legacy/bull2.png) left center no-repeat;
    }

    .new-items .trail-type3, .new-items .trip-type {
        background: url(/assets/legacy/bull3.png) left center no-repeat;
    }

    #cap {
        margin-top:20px;
        position: relative;
        overflow: hidden;
        padding: 0 15px 10px 15px;
        clear: both;
    }

    #foot-logo {
        float: left;
        width: 262px;
        height: 35px;
        text-indent: -9999em;
        background: url(/assets/legacy/foot-logo.png) top left no-repeat;
    }

    #cap ul {
        float: right;
        padding: 5px 5px 0 0;
    }

    #cap li {
        float: left;
        padding-left: 20px;
    }

    #cap li a {
        float: left;
        height: 40px;
        text-indent: -9999em;
        background-image: url(/assets/legacy/social_button_sprite.png);
        background-repeat: no-repeat;
    }

    .ci-twitter {
        background-position: 0px 0px;
        width: 40px;
    }

    .ci-facebook {
        background-position: -65px 0px;
        width: 50px;
    }

    .ci-newsletter {
        background-position: -130px 0px;
        width: 60px;
    }

    .ci-blog {
        background-position: -220px 0px;
        width: 30px;
    }

    .ci-iphone {
        background-position: -300px 0px;
        width: 110px;
    }

    .ci-android {
        background-position: -410px 0px;
        width: 110px;
    }

    .ci-django {
        background-position: -520px 0px;
        width: 70px;
    }


    .foot-links {
        float: left;
    }

    .info-links {
        float: right;
    }

    /*
    * CSS Styles that are needed by jScrollPane for it to operate correctly.
    *
    * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
    * may not operate correctly without them.
    */

    .jspContainer {
        overflow: hidden;
        position: relative;
    }

    .jspPane {
        position: absolute;
    }

    .jspVerticalBar {
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 100%;
    }

    .jspHorizontalBar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 16px;
    }

    .jspVerticalBar *,
    .jspHorizontalBar * {
        margin: 0;
        padding: 0;
    }

    .jspCap {
        display: none;
    }

    .jspHorizontalBar .jspCap {
        float: left;
    }

    .jspTrack {
        background: #eeeeee;
        position: relative;
        border-left: 4px solid #fff;
        border-right: 4px solid #fff;
    }

    .jspDrag {
        background: #cccccc;
        position: relative;
        top: 0;
        width: 8px;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        order-radius: 4px;
    }

    .jspHorizontalBar .jspTrack,
    .jspHorizontalBar .jspDrag {
        float: left;
        height: 100%;
    }

    .jspArrow {
        background: #50506d;
        text-indent: -20000px;
        display: block;
        cursor: pointer;
    }

    .jspArrow.jspDisabled {
        cursor: default;
        background: #80808d;
    }

    .jspVerticalBar .jspArrow {
        height: 16px;
    }

    .jspHorizontalBar .jspArrow {
        width: 16px;
        float: left;
        height: 100%;
    }

    .jspVerticalBar .jspArrow:focus {
        outline: none;
    }

    .jspCorner {
        background: #eeeef4;
        float: left;
        height: 100%;
    }

    /* Yuk! CSS Hack for IE6 3 pixel bug :( */
    * html .jspCorner {
        margin: 0 -3px 0 0;
    }

    #facebook, #twitter {
        display: block;
        height: 278px;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 0;
    }

    input[type="submit"] {
        cursor: pointer;
    }

    #back-to-map-link {
        position: absolute;
        top: 6px;
        left: 280px;
        color: #8DBFD6;
        line-height: 20px;
        padding-left: 14px;
        text-transform: uppercase;
        background: url(/assets/legacy/crumb.jpg) left center no-repeat;
    }

    div.entry.titleright > #back-to-map-link {
        left: 90px;
    }

    .big-plus {
        font-size: 23px;
        line-height: 10px;
        top: 0px;
        position: relative;
    }

    .add-trip-text {
        top: -3px;
        position: relative;
    }

    #add-campgrounds:hover, #add-trips:hover {
        text-decoration: none;
    }

    .map-add-trip-button {
        position: absolute;
        bottom: 15px;
        right: 350px;
        padding: 8px 12px;
        color: white;
        font-size: 13px;
        height: 13px;
        text-transform: uppercase;

    }

    .map-add-campground-button {
        position: absolute;
        bottom: 15px;
        right: 170px;
        padding: 8px 12px;
        color: white;
        font-size: 13px;
        height: 13px;
        text-transform: uppercase;
    }

    span.required {
        color: red;
        padding: 0 5px;
    }

    /* This rule is read by Galleria to define the gallery height: */
    #galleria { height:320px; margin: 0px; }
    #galleria .photo { }
    #trip-photos-map { float: right; position: relative; }
    #trailhead-photos-map .powered-by {
        font-size:10px;
        font-weight:400;
        text-transform: uppercase;
        text-align:right;

    }

    .trip-photo-admin{
        margin-bottom:20px;
    }
    #trip-photos-map #photo-upload { clear: both; }
    .trail-details-overlay {
        box-shadow: 0 0 90px 5px #000;
        display: none;
        border: solid 1px;
        z-index: 10002;
        background-color: #F6F7FC;
        line-height: 1.4em;
        font-size: 1em;
        padding: 30px;
        width: 400px;
        text-align: left;
    }
    #trailhead-maps .map { margin:20px 15px; clear: left; height: 26px;}
    #trailhead-maps .map a.get-map { height: 30px; }
    #trailhead-maps .map a.get-map .download-icon {
        background: url(/assets/legacy/download-map.gif) 0 0 no-repeat transparent;
        height:26px;
        width: 37px;
        display:block;
        float: left;
    }
    #trailhead-maps .map a.get-map .download-text, #trailhead-maps .map a.delete  {
        font-size: 1.0em;
        float: left;
        padding: 7px 0 0 0;
        display: block;
    }
    #trailhead-maps .map a.get-map .download-text .down-caret { font-size: 0.7em; }
    a.trail-details-modal { display:block; color:#1B80AE; margin:20px 0 0 0; cursor: pointer; }

    .trailhead-social-buttons { float: right; margin: 10px; }
    .trailhead-social-buttons .twitter-share-button {  margin:0; }
    .trip-details .header {
        padding: 15px 0 0 70px;
        height: 51px;
        background: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        position: relative;
        clear: both;

    }

    .trip-details .header h2 {
        font-size: 16px;
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 5px 0;
    }

    .trip-details .header h2 em {
        font-style: italic;
        display: block;
        text-transform: none;
        font-size: 14px;
        color: #1b80ae;
        padding-top: 8px;
    }

    .trip-details .header em {
        font-style: italic;
        display: block;
        text-transform: none;
        font-size: 13px;
        color: #1b80ae;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .trip-details .map { margin:20px 0; clear: left; height: 26px;}
    .trip-details #maps .map a.get-map { height: 30px; background: none; padding: 0; }
    .trip-details .map a.get-map .download-icon {
        background: url(/assets/legacy/download-map.gif) 0 0 no-repeat transparent;
        height:26px;
        width: 37px;
        display:block;
        float: left;
    }
    .trip-details .map a.get-map .download-text, #trailhead-maps .map a.delete  {
        font-size: 1.0em;
        float: left;
        padding: 7px 0 0 0;
        display: block;
    }
    .trip-details .map a.get-map .download-text .down-caret { font-size: 0.7em; }


    #comments-ratings { float: left; clear: both; margin: 20px 0 30px 0; }

    .galleria-container { border: 1px solid #CACBCD; }


    div.agency .logo img { width: 20px;  }


    .common-attributes { border-top: 1px solid #CACBCD; border-bottom: 1px solid #CACBCD; margin: 20px 0 0 0; padding: 10px 0; }
    .common-attributes ul { display: block; float: left; list-style: none; margin: 0; padding: 0; }
    .common-attributes ul li { display: inline; padding: 10px 0 0 10px; }
    .common-attributes ul li:after { content: ',';}
    .common-attributes ul li:last-child:after { content: ''; }
    .common-attributes .common-attribute {
        line-height: 1.5em;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .common-attributes .common-attribute label { font-weight: 600; }

    #plan.alt.trailhead .common-attributes { border: 0; }

    #trip-meta .type-flag {
        top: -3px;
    }
    #trip-meta .share-widget { display: block; width:60px; float: left; }

    #trip-meta div.agency div.logo { margin: 0 15px; }
    #trip-meta .parks { clear: both; border:none; border-top: 1px solid #CACBCD; color:#9E9E9E;  }
    #trip-meta .parks .text { margin: 0 0 20px 25px;  }
    #trip-meta .parks .name { font-weight: 600; }
    #trip-meta .parks a { color: #999; }
    #plan .agency { width: 400px; clear: both; border-top:none; height: 25px; margin:0; }
    #plan .agency .text { display: inline-block; float: left; padding: 6px 0 0 0;}
    #trip-meta .agency {
        border-bottom: medium none;
        border-top: 1px solid #CACBCD;
    }
    #trip-details-left .agency { border-left: none; }
    #plan .non-profit-partner {
        background: #F6F7FC;
        -webkit-border-radius: 0 0 20px 20px;
        -moz-border-radius: 0 0 20px 20px;
        -o-border-radius: 0 0 20px 20px;
        border-radius: 0 0 20px 20px;
    }

    #trailhead-details .description,
    #trailhead-details .common-attributes{ border-bottom: 1px solid #CACBCD; }
    #trailhead-details a.green-link-button { display: block; }
    #trailhead-details .description,
    #trailhead-details .common-attributes { padding: 20px; }
    #trailhead-details .common-attributes{  margin: 0; }
    #trailhead-details #download-maps, #trailhead-details .text-attr-label, #trailhead-details form { margin: 0 20px; }
    #trailhead-details .button-frame { margin: 0 20px 20px 20px; }
    #trailhead-photos-map #photo-upload { clear: left; }
    .comments-section { padding: 20px 0; clear: both; }

    #download-maps .map a.delete { display: block; padding: 7px 0;}

}

