
.container.main #plan .agency{
  height:inherit;
}

#page{

    .trailhead {
      .agency{
        .text{
          width:100%;
        }
        .logo{
          height:inherit;
          line-height:20px;
          width:30px;
          height:30px;
        }
        .managed_by_label{
          text-transform:uppercase;
          font-size:11px;
          color:#666;
          font-weight:600;
          margin-bottom:6px;
        }
        margin-bottom:6px;
        .name{
          line-height:20px;
          width:100%;
          font-size:14px;
          line-height:28px;
        }
      }
      img.avatar{
        height:30px;
        width:30px;
        margin-right:10px
      }
    }

    .label-feature {
      background-color: #a3aaaf;
      padding: 4px 8px;
      border-radius: 12px;
      font-weight: 500;
      font-size: 0.9em;
      margin-right:6px;
      margin-bottom:10px;
    }

    label.feature{
      color: #4C93B5;
      font-weight: 700;
      font-size: 1em;
      text-transform: uppercase;
    }

    #details-section { float: left; }
    #trailhead-photos-map { float: right; }

    #trailhead-stories{
        clear: left;
        padding-top: 20px;
    }

    #trailhead-stories-and-comments{
        margin: 20px 0;
    }

    #trailhead-comments{
        clear: both;
        padding-top: 20px;
    }

    div.agency div.logo {
        display: inline-block;
        float: left;
        margin: 2px 10px;
    }
    #plan.trailhead div.agency div.logo img { margin: 0; }

    div.non-profit-partner div.logo {
        display: inline-block;
        float: left;
        margin: 2px 10px;
        width:0;
    }

    .trail-details-overlay{
        .description{
            overflow-y:scroll;
            max-height: 400px;
        }
    }
}