%p
  Your Bay Nature Trailblazer account has been approved.
%p
  Please feel free to start adding trips at :
%p
  http://baynature.org/trailfinder
%p
  The trails you add will appear on both BayNature.org and TransitandTrails.org.
%p
  You may also add more information to your profile here :
%p
  #{user_profile_url(@user)}
%p
  Welcome to the team!
