- content_for :head do
  %script{:src => "http://www.google.com/jsapi?key=ABQIAAAAO7OoKKBX03U3SrObYGQy0xTR3gcj-N9Qq4sdgfDbE45YeC9R7BTliGpItl3amRLTjNsmtJj-_SOQkw", :type => "text/javascript"}
  :javascript
    google.load("maps", "2.x");
  %script{:src => "http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js"}
  = render :partial => "/shared/partials/legacy_head"

  = stylesheet_link_tag "editors"

#page
  #page-head
    %h2
      Edit Campground
    %a{:href => "/"} Back to Map
  / e: page head
  #plan.alt.trailhead

    = render 'form'
