// Place all the styles related to the Trailheads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple_form{
    #trailhead-meta .control-label{
      font-weight : 600;
    }
  }

.simple_form {
  .editor{
    margin-bottom:20px;
  }
  .control-label{
    // font-weight:600;
  }
  ul{
    li{
      padding:4px;
    }
    label{
      width:inherit;
      float:none;
      padding:6px;
    }
    input[type="checkbox"]{
      float:left;
      margin-right:6px;
    }
  }

  div.radio_buttons
  {
    float:left;
  }
}
