@import "variables";
@import "bootstrap";
@import "font-awesome";

body{
  background-image:url(/assets/woodbackground.jpg);
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  letter-spacing: 1px;
}

.intensity-icon{
  background-image:url(/assets/find_sprite.png);
  width:15px;
  height:15px;
  float:left;
  margin-top:5px;
}

.intensity-icon.easy{
  background-position:0px -80px;
}

.intensity-icon.moderate{
  background-position:-20px -80px;
}

.intensity-icon.strenuous{
  margin-top:2px;
  background-position:-40px -80px;
}

.fullpage-map{
  width:100%;
  height:100%;
  position:fixed;
  z-index: 0;
  #find_map{
    width:100%;
    height:100%;
  }
}

#find-map-disable{
  display:none;
  position:fixed;
  height:200px;
  width:300px;
  z-index:20;
  img{
    max-width: none;
  }
  background-color:#ccc;
  opacity:0.5;
}

.map{
  background-color:white;
  position:fixed;
  height:200px;
  width:300px;
  z-index:10;
  box-shadow: -2px 3px 10px rgba(51, 51, 51, 0.4);
}

.media.find-list-item{
  color:#333;
  padding:10px;
  .features{
    a{
      font-size:11px;
      font-weight:600;
    }
  }
  span.category{
    color:#4c93b5;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }
  .label{
    font-weight:600;
    font-size:11px;
    margin-bottom:4px;
    margin-right:4px;
  }

  .label-feature{
    background-color:#999;
  }
}

.media.find-list-item{
  @include border-radius(10px);
}
.media.find-list-item:hover{
  background-color:#eee;
}

.filter-header{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color:$main-blue;
}
// Hack for autocomplete to show up above everything
.pac-container
{
  z-index: 10000 !important;
  @include border-radius(10px);
  padding:4px;
  box-shadow: 5px 5px 10px #555;
}

.mapfilters{
  position:relative;
  .message{
    color:$main-blue;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    width:280px;
    position: fixed;
    background: white;
    margin-top: 200px;
    z-index: 0;
    padding:10px;
    @include border-radius(0px 0px 10px 10px);
    i{
      font-size:20px;
    }
  }
}

h4.find-list-name{
  font-weight:400;
  font-size:22px;
}

.park-name{
  font-size:13px;
  color:#666;
}

.filters{
  display:none;
  position:relative;
  z-index:5;
  margin-top:200px;
  background-color:white;
  padding:20px;
  @include border-radius(0px 0px 10px 10px);
  .btn-round{
    @include border-radius(20px);
    margin-top:1px;
  }

  .search-query{
    width:170px;
  }
  .message{
    position:relative;
    margin:0px;
    padding:0px;
  }
  .checkbox{
    font-size:12px;
  }
}

#progress {
  display:none;
  margin-top:20px;
  padding:20px;
  background-color:white;
  @include border-radius(10px);
}

.list-filters{
  display:block;
}
#find-list-container{
  margin-top: 20px;
  background-color:white;
  @include border-radius(10px);
  .list-header{
    font-weight:400;
    height: 20px;
    margin-bottom: 5px;
    background-color:#ddd;
    padding:8px;
    @include border-radius(10px 10px 0px 0px);
    position:relative;
    .list-header-icon{
      margin-right:12px;
      float:left;
      position: relative;
      top: -20px;
      left: 4px;
      width:50px;
      height:77px;
      background:url(/assets/find_sprite.png) -310px 0px;
    }
  }
  .list{
    padding:10px;
    z-index:10;
  }

}

#find-list-container.trips{
  margin-top:0px;
  .list-header{
    @include border-radius(0px);
  }
}
.trips .list {
  margin-top:70px;
}

#find_map{
  height:200px;
  position:relative;
  z-index:0;
  img{
    max-width: none;
  }
}

.find-list-item{
  .description{
    font-size:12px;
  }
}
.container{
  padding-top:84px;
  margin-bottom:100px;
}

.list-top{
  box-shadow: -2px 3px 10px rgba(51, 51, 51, 0.4);
  padding-top:20px;
  position:fixed;
  background-color:white;
  width:620px;
}

.navbar .nav > li > a {
  padding-right:0px;
  padding-bottom:4px;
  color: white;
  text-decoration:none;
  &:visited {
    color: white;
  }
  &:hover {
    color: white;
    text-decoration:underline;
  }
  text-shadow: -1px -1px 0px #555;
}

a.btn{
  color: white;
  text-decoration:none;
  &:visited {
    color: white;
  }
  &:hover {
    color: white;
    text-decoration:none;
  }

}

.navbar-inner{
  a {
    color: white;
    text-decoration:none;
    &:visited {
      color: white;
    }
    &:hover {
      color: white;
      text-decoration:underline;
    }
  }
  // -webkit-font-smoothing: antialiased;
  border:none;
  letter-spacing: 0px;
  font-weight:400;
  text-shadow: 0px -1px 0px black;
  font-size:15px;
  .btn{
    font-size:14px;
    font-weight:600;
    // -webkit-font-smoothing: antialiased;
  }
}

.navbar-inner.navbar-main {
  -webkit-text-stroke: 0.4px;
  height:84px;
  background-image:url(/assets/greentexture_bright.jpg);
  background-color:white;
  box-shadow: -2px 3px 10px rgba(51, 51, 51, 0.4);
  // box-shadow: 0px 2px 20px 1px black;
  position:relative;
  // z-index: 100;
  color:white;
  font-weight:600;
  text-shadow: 0px -1px 0px black;
  .container{
    padding-top:10px;
    .navbar-content{
      height:100%;
      position:relative;
      .sign-in{
        font-size:14px;
      }
    }
  }

}

.navbar-inner.navbar-find {
  background-image:url(/assets/greentexture.jpg);
  box-shadow: -5px 5px 12px rgba(51, 51, 51, 0.5);
  position:relative;
  z-index: 10;
  height:50px;
  .btn-round{
    @include border-radius(20px);
    margin-top:1px;
  }
  .container{
    padding-top:10px;
  }
  color:white;
}

input.search-query{
  position: relative;
  top: 1px;
}

.main-nav-items{
  li{
    padding-left:40px;
    font-size:18px;
  }

  .nav{
    margin:0px;
  }

  position:absolute;
  bottom:4px;
  right:0px;
}
.navbar .btn-group{
  margin-top:0px;
}
.btn-group > .btn:first-child {
  @include border-radius(20px 0px 0px 20px)
}

.btn-group > .btn:last-child {
  @include border-radius(0px 20px 20px 0px)
}
.btn-success.active{
  background-color:#4a90b1;
}

button{
  font-weight:400;
  padding-bottom:6px;
  font-family: 'Open Sans', sans-serif;
}

.nav-what-label{
  position:relative;
  top:2px;
}
.navbar-logo{
  float:left;
  width:152px;
  height:66px;
  background-image:url(/assets/find_sprite.png);

}