@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "navbar";

body{
  background-image:url(/assets/woodbackground.jpg);
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  letter-spacing: 1px;
  position:relative;
  height:100%;
}
html{
  height:100%;
}

.relative{
  position:relative;
}

.intensity-icon{
  background-image:url(/assets/find_sprite.png);
  width:15px;
  height:15px;
  float:left;
  margin-top:5px;
}

.intensity-icon.easy{
  background-position:0px -80px;
}

.intensity-icon.moderate{
  background-position:-20px -80px;
}

.intensity-icon.strenuous{
  margin-top:2px;
  background-position:-40px -80px;
}

#find-map-disable{
  position:fixed;
  height:200px;
  width:$gridColumnWidth * 8 + $gridGutterWidth * 7;
  z-index:20;
  img{
    max-width: none;
  }
  background-color:#ccc;
  opacity:0.5;
}

#find-map-diable.bigger{
  height:400px;
}

.top{
  z-index:1000;
}

.map{
  display:none;
  background-color:white;
  position:fixed;
  height:200px;
  width:$gridColumnWidth * 8 + $gridGutterWidth * 7;
  z-index:10;
  box-shadow: -2px 3px 10px rgba(51, 51, 51, 0.4);
}

.map.bigger{
  height:400px;
}

.map-buttons{
  position:fixed;
  margin:10px;
  z-index:20;
}


#find_map{
  height:200px;
  position:relative;
  z-index:0;
  img{
    max-width: none;
  }
}

#find_map.bigger{
  height:400px;
}

.media.find-list-item{
  color:#333;
  padding:10px;
  .features{
    a{
      font-size:11px;
      font-weight:600;
    }
  }
  span.category{
    color:#4c93b5;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }
  .label{
    font-weight:600;
    font-size:11px;
    margin-bottom:4px;
    margin-right:4px;
  }

  .label-feature{
    background-color:#a3aaaf;
    padding:6px 10px;
    border-radius:12px;
    font-weight:300;
    font-size:12px;
  }
}

.media.find-list-item{
  border-radius: 10px;
}
.media.find-list-item:hover{
  background-color:#eee;
}

.filter-header{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color:$main-blue;
}
// Hack for autocomplete to show up above everything
.pac-container
{
  z-index: 10000 !important;
  border-radius: 10px;
  padding:4px;
  box-shadow: 5px 5px 10px #555;
}

.infowindow{
  .description{
    display:none;
  }
  .features{
    display:none;
  }
  width:400px;
}

.mapfilters{
  position:relative;
  display:none;
  box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.4);
  .message{
    color:$main-blue;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    width:$gridColumnWidth * 4 + $gridGutterWidth * 2;
    position: fixed;
    background: white;
    margin-top: 200px;
    z-index: 0;
    padding:10px;
    border-radius: 0px 0px 10px 10px;
    i{
      font-size:20px;
    }
  }
}

h4.find-list-name{
  font-weight:400;
  font-size:22px;
}

.park-name{
  font-size:13px;
  color:#666;
}

.btn-round{
  border-radius: 20px;
  margin-top:1px;
}

.filters{
  position:relative;
  z-index:5;
  margin-top:200px;
  background-color:white;
  padding:20px;
  border-radius: 0px 0px 10px 10px;

  .search-query{
    width:170px;
  }
  .message{
    position:relative;
    margin:0px;
    padding:0px;
  }
  .checkbox{
    font-size:12px;
  }
}

#progress {
  display:none;
  margin-top:20px;
  padding:20px;
  background-color:white;
  border-radius: 10px;
}

#active-filters{
  background-color:white;
}

.list-filters{
  // display:none;
  padding:10px;
  color:#666;
  b{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
  }
}

.list-header{
  font-weight:600;
  height: 20px;
  margin-bottom: 5px;
  background-color:#ddd;
  padding:8px;
  border-radius: 10px 10px 0px 0px;
  position:relative;
  .list-header-icon{
    margin-right:12px;
    float:left;
    position: relative;
    top: -20px;
    left: 4px;
    width:50px;
    height:77px;
    background:url(/assets/find_sprite.png) -310px 0px;
  }
  .list-header-icon.trailheads{
    background-position: -310px 0px
  }
  .list-header-icon.trips{
    background-position: -310px -80px
  }

  .list-header-icon.campgrounds{
    background-position: -310px -160px
  }


}

#find-list-container{
  background-color:white;
  border-radius:0px 0px 10px 10px;
  .list{
    padding:10px;
    z-index:10;
  }

}

.find-list-item{
  .description{
    font-size:12px;
  }
}

.list-top{
  box-shadow: -2px 3px 10px rgba(51, 51, 51, 0.4);
  padding-top:20px;
  position:fixed;
  background-color:white;
  width:$gridColumnWidth * 8 + $gridGutterWidth * 7;
}

input.search-query{
  position: relative;
  top: 1px;
}

button{
  font-weight:400;
  padding-bottom:6px;
  font-family: 'Open Sans', sans-serif;
}


#map_size_toggle{
  font-weight:600;
}

.mapfilters{
  margin-top:20px;
  font-size:12px;
  .message{
    margin-top:0px;
    border-radius: 10px;
  }
  .filters{
    top:-14px;
    margin-top:0px;
    padding-top:50px;
  }
  .list-header{
    margin-bottom:0px;
    z-index:10;
  }
}
#progress{
  margin-top:220px;
}

.attribute-label{
  padding:10px;
  border-radius:10px;
}
.notice-list{
  margin-top:200px;
  .notice{
    background-color:white;
    padding:10px;
  }
  .alert{
    margin-bottom:0px;
  }
}
.notice-list.bigger{
  margin-top:400px;
}