// $dropdownBackground: $navbarBackground;
// $dropdownLinkColor: white;
// $dropdownBorder: #4a7d2c;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import "variables";
@import "custom_bootstrap";
@import "bootstrap";
@import "font-awesome";
@import "bourbon";
@import "partners";
@import "about";
@import "navbar";
@import "simple_form";
@import "base";

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    border:solid 2px #222;
    border-radius:2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.big-tagline{
  color:white;
  font-size:2.7em;
  line-height:2em;
  text-align:center;
  padding:14px 0px 42px 0px;
}

#how-it-works{
  display:none;
}

#play-how-it-works{
  position:relative;
  top:-50px;
  text-align:center;
}

.movie{
  padding-top:55px;
}

.row.heading{
  position:relative;
  text-align:center;
  margin-bottom:10px;
  hr{
    border-bottom:1px solid #aaa;
    background-color:black;
  }
  .title{
    // width:100%;
    // position:absolute;
    top:14px;
    color:$main-blue;
    text-transform: uppercase;
    font-weight:700;
    position:relative;
    top:-28px;
    padding:4px 20px;
    background-image: url(asset-path('rockywall_60percent.jpg',image));

  }
}

.call-to-action{
  text-align: center;
  padding:30px 0px;
}

a.btn-landing:link,a.btn-landing:hover,a.btn-landing:visited,a.btn-landing:active{
  text-transform: none;
  color:white;
  text-decoration: none;
}

a.btn-landing:hover{
  background-color:#89B668;
}

.btn-landing{
  font-size: 1.5em;
  border-radius: 50px;
  background-color: $main-green;
  color: #FFF;
  border: none;
  padding: 16px 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

.btn-landing-small{
  font-size:1em;
  border-radius:25px;
  padding: 6px 23px;
  font-weight:500;
}

.featured{
  position:relative;
  padding:40px 0px;
  width:100%;
  a{
    color:$main-blue;
  }

  background-image: url(asset-path('rockywall_60percent.jpg',image));
  .name {
    padding:10px 0px;
    font-size:24px;
    font-weight:500;
    line-height:30px;
  }
  .author{
    // text-transform: uppercase;
    font-size:14px;
    img{
      height:30px;
    }
    margin-bottom:10px;
  }
  .description{
    color:#7a8c96;
    font-size:0.9em;
    line-height:1.8em;
    margin-bottom:10px;
  }
  .featured-thumbnail{
    position:relative;
    .img-trip-thumbnail{
      width:100%;
    }
  }
  img.avatar{
    max-height: 60px;
    max-width: 150px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: solid 1px #CCC;
  }
  .plan-trip-button{
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.label-feature {
  background-color: #BCB7B2;
  opacity:0.9;
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 11px;
  margin-right:6px;
  margin-bottom:10px;
}

.center{
  text-align:center;
}
.case-study{
  margin: 0 auto;
  background-image:url(asset-path('tnt_landing_sprite.jpg',image));
  width:300px;
  height:120px;

  &.baynature{
    background-position: 0px -0px;
  }
  &.baynature:hover{
    background-position: -300px 0px;
  }

  &.sanjose{
    background-position: 0px -150px;
  }
  &.sanjose:hover{
    background-position: -300px -150px;
  }

  &.ggnpc{
    background-position: 0px -300px;
  }
  &.ggnpc:hover{
    background-position: -300px -300px;
  }


}

.landing-partners{
  background-image: url(asset-path('rockywall_60percent.jpg',image));
  width: 100%;
  .mask{
    background: rgba(54, 25, 25, .1);
    width:100%;
    padding:20px 0px;
  }
  .row.heading{
    .title{
      top:0px;
      color:#999;
      background-image:none;
    }
  }
  .row.logos{
    padding-top:10px;
    text-align:center;
  }
}

#footer{
  box-shadow: -2px -4px 10px rgba(51, 51, 51, 0.2);
}

