body{
  background-color:#514B43;
  margin:0px;
  padding:0px;
  font-family: 'Open Sans', sans-serif;
}
.middle{
  margin: 0 auto;
  width:980px;
}
.main{
  background-color:white;
  border-left:solid 1px black;
  border-right:solid 1px black;
  border-bottom:solid 1px black;
  @include border-radius(0px 0px 30px 30px);
  @include box-shadow(0 4px 15px rgba(0, 0, 0, .7));
}

#user-nav{
  position: absolute;
  top: 8px;
  left: 16px;
}

#home-link{
  position: absolute;
  right:0px;
  bottom:0px;
  height:140px;
  width:300px;
}

.header{
  height:160px;
  background-image:url(application_layout_sprite.png);
  position:relative;
  @include box-shadow(0 0 15px rgba(0, 0, 0, .5));
}
.content{
  padding:20px 30px 30px 30px;
  min-height:400px;
}

.content-footer{
  padding:20px;
  .image-link{
    background-image:url(application_layout_sprite.png);
    height:40px;
    float:left;
    margin-right:20px;
  }
  .left{
    float:left;
  }
  .right{
    float:right;
  }
  .openspacecouncil-logo{
    background-position: -600px -160px;
    height:40px;
    width:280px;
  }
  .twitter{
    background-position: -0px -160px;
    width:40px;
  }
  .facebook{
    background-position: -40px -160px;
    width:45px;
  }
  .newsletter{
    background-position: -100px -160px;
    width:60px;
  }
  .blog{
    background-position: -160px -160px;
    width:40px;
  }
  .ios-app{
    background-position: -200px -160px;
    width:110px;
  }
  .android-app{
    background-position: -320px -160px;
    width:110px;
    margin-right:0px;
  }
}


.footer{
  position: relative;
  padding: 20px;
  color: #FFEECF;
  font-size: 14px;
  text-shadow: 0px -1px black;
  .left{
    float:left;
  }
  .right{
    float:right;
  }
  a {
    color: #FFEECF;
    text-decoration:none;
    &:visited {
      color: #FFEECF; }
    &:hover {
      color: #FFEECF;
      text-decoration:underline;
    }
  }
}
