// Place all the styles related to the Partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.partners{
  a {
    color: $aqua;
    text-decoration:none;
    &:visited {
      color: $aqua; }
    &:hover {
      color: $aqua;
      text-decoration:underline;
    }
  }

}
.partner{
  width:800px;
  background-color:$super-light-blue;
  margin:15px 15px 0 0;
  padding:20px;
  float:left;
  min-height:100px;
  border:1px solid #c7c7c7;
  border-radius: 0.25em;
  .logo{
    position:relative;
    float:left;
    margin-right:20px;
    width:100px;
    img{
      padding:2px;
      border:1px solid #CCC;
      border-radius: 3px;
      width:90px;
    }
  }
  .details{
    position:relative;
    float:left;
    .name{
      font-weight:bold;
      color: $aqua;
      margin-bottom:10px;
    }
    .description{
      float:left;
      width:600px;
    }
  }
}
