$aqua: #1B80AE;
$super-light-blue: #F6F7FC;
$main-blue:#4A90B1;
// $old-main-green: #6ca547;
$navbar-blue:#3790B3;
$main-green: #57AB45;
$gridColumnWidth: 65px;
$navbarHeight: 55px;
$navbarBackground: $navbar-blue;
$navbarBackgroundHighlight: $navbarBackground;
$navbarText: white;
$navbarLinkColor: white;
$navbarLinkColorHover: $navbarLinkColor;
$navbarLinkColorActive: $navbarLinkColor;
