$aqua: #1B80AE;
$super-light-blue: #F6F7FC;
$main-blue:#4A90B1;
$main-green: #6ca547;
$gridColumnWidth: 65px;
$navbarHeight: 55px;
$navbarBackground: $main-green;
$navbarBackgroundHighlight: $navbarBackground;
$navbarText: white;
$navbarLinkColor: white;
$navbarLinkColorHover: $navbarLinkColor;
$navbarLinkColorActive: $navbarLinkColor;
