- content_for :page_title do
  Thanks

- content_for :page_content do
  .entry.static
    .embed-content
      %p
        Thanks for signing up!
      %p
        We just sent you a confirmation email.
      %p
        Please use the link in that email to activate your account. Once you have done this we will review and approve your account and you will receive an approval email.


