/ load Galleria
%script(src="/assets/legacy/galleria/galleria-1.2.7.min.js")
%script(src="/legacy/ckeditor/ckeditor.js")
%script(src="/legacy/ckeditor/adapters/jquery.js")
%script(src="/assets/legacy/gzoom.js")
%script(src="/assets/legacy/common.js")

= stylesheet_link_tag "legacy/reset"
= stylesheet_link_tag "legacy/common"
= stylesheet_link_tag "legacy/style"
= stylesheet_link_tag "editors"
