.left
  %a(href="http://openspacecouncil.org")
    .openspacecouncil-logo.image-link
.right
  %a(href="http://twitter.com/transitandtrail")
    .twitter.image-link
  %a(href="http://facebook.com/transitandtrails")
    .facebook.image-link
  %a(href="http://openspacecouncil.us1.list-manage1.com/subscribe?u=d3b34e2adeb625081e6ae8d44&id=63f0ca458a")
    .newsletter.image-link
  %a(href="http://blog.transitandtrails.org/")
    .blog.image-link
  %a(href="http://itunes.apple.com/us/app/transit-trails-find-plan-share/id415996890?mt=8&ign-mpt=uo%3D4")
    .ios-app.image-link
  %a(href="https://market.android.com/details?id=com.openspacecouncil.tnt&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5vcGVuc3BhY2Vjb3VuY2lsLnRudCJd")
    .android-app.image-link
